<!DOCTYPE html>
<html>
  <body>
    {{ content }}

    {{ assign noError = site.pages | where_exp: "item", "(item.violations | size) == 0" }}
    <h2>No Error Reports ({{noError | size}})</h2>
    <ul>
      {% for page in noError %}
        <li><a href="{{ page.url }}">{{ page.pluginId }}</a></li>
      {% endfor %}
    </ul>

    <h2>Now</h2>

    <h2>All reports</h2>
    <ul>
      {% for page in site.pages %}
        <li><a href="{{ page.url }}">{{ page.pluginId }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
